<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center center">
    <ng-form name=adminCtrl.alertaForm>
        <md-card class="card-40-center" style="border-top: 1px solid rgba(0, 0, 0, 0.12); padding: 25px">
            <md-card-header>
                <h2>Editar alerta de usuário sem unidade</h2>
            </md-card-header>

            <md-card-content>
                <textarea name="editor1" id="editor1" required></textarea>
            </md-card-content>

            <div layout="row" layout-align="end right">
                <md-button class="md-primary md-raised" ng-click="adminCtrl.salvar($event)">
                    Salvar
                </md-button>
                <md-button class="md-raised md-primary" ng-click="adminCtrl.voltar()">
                    Voltar
                </md-button>
            </div>
        </md-card>
    </ng-form>
</md-content>
<script>
    CKEDITOR.replace('editor1', {
        on: {
            instanceReady: function (ev) {

            }
        }
    });
    CKEDITOR.config.browserContextMenuOnCtrl = true;
    CKEDITOR.config.disableNativeSpellChecker = false;
    CKEDITOR.config.removePlugins='scayt,wsc';
</script>
