
<h1 style="text-align: center">Ministério do Planejamento Desenvolvimento e Gestão</h1>
<div style="padding: 3%;">
    <table style="padding-left: 35%;">
        <tbody>
            <tr>
                <td>
                    <i style="font-size: 90px; color: #3e67b1;" class="material-icons">highlight_off</i>
                </td>
                <td>
                    <b style="font-size: large">Em Tramitação Fora do Prazo</b>
                    <p style="margin: 0">Pedidos: 0</p>
                    <p style="margin: 0">Recursos: 0 </p>
                </td>
            </tr>
            <tr >
                <td>
                    <i style="font-size: 90px; color: #3e67b1;" class="material-icons">hourglass_empty</i>
                </td>
                <td>
                    <b style="font-size: large">Expirando Hoje</b>
                    <p style="margin: 0">Pedidos: 0</p>
                    <p style="margin: 0">Recursos: 0 </p>
                </td>
            </tr>
            <tr>
                <td >
                    <i style="color: #3e67b1; font-size: 90px" class="material-icons">cached</i>
                </td>
                <td>
                    <b style="font-size: large">Em Tramitação no Prazo</b>
                    <p style="margin: 0">Pedidos: 0</p>
                    <p style="margin: 0">Recursos: 0 </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
