<div id="breadcrumb">
    <span class="breadcrumb" style="padding: 1px 0 2px 2%;">
        <div class="dropdown">
          <span> <a href="#">
              <ng-md-icon icon="home" style="fill: white; position:absolute; bottom: -7px;" size="26" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </a></span>
        </div>
    </span>
    
    <span class="breadcrumb" style="padding: 1px 0 2px 2%;">
        <div class="dropdown">
          <span>Consultar</span>
          <div class="dropdown-content">
                <a href="/#/solicitacaoInformacao">Pedido</a>
                <a href="/#/consultarRecurso">Recurso</a>
          </div>
        </div>
    </span>

    <span class="breadcrumb" style="padding: 1px 0 2px 2%;">
        <div class="dropdown">
          <span>Administração</span>
          <div class="dropdown-content">
              <a href="/#/consultarFeriado">Feriado</a>
              <a href="/#/consultarClassificacaoResposta">Classificação de Resposta</a>
              <a href="/#/consultarUnidade"> Unidade/Subunidade</a>
              <a href="/#/consultarUsuario">Consultar Usuários</a>
              <a href="/#/consultaGlossarioDeAssuntos">Glossário de Assuntos </a>
              <a href="/#/TelaAdministrativa">Tela Administrativa</a>
              <a href="/#/emailAlerta">E-mails de Alerta</a>
          </div>
        </div>
    </span>

    <span class="breadcrumb" style="padding: 1px 0 2px 2%;">
      <div class="dropdown">
          <span ng-href="#"><a href="/#/dadosDoUsuario" style="color: white; text-decoration: none;">Dados do Usuário</a></span>
      </div>
  </span>
</div>
