<md-content>
    <ng-form name = cadastrarClassificacaoRespostaCtrl.classificacaoRespostaForm >
        <md-card md-theme-watch style="border-top: 1px solid rgba(0, 0, 0, 0.12)">
            <md-card-content>
                <md-content>
                    <h1>Cadastrar Classificação Resposta</h1>
                </md-content>

                <div layout="row">
                    <md-input-container class="md-block" flex="100">
                        <label>Tipo Classificação Resposta</label>
                        <md-select ng-model="cadastrarClassificacaoRespostaCtrl.classificacao.tipoClassificacaoResposta" required>
                            <md-option
                                ng-repeat="tipoClassificacao in cadastrarClassificacaoRespostaCtrl.listaTipoClassificacaoResposta" ng-value="tipoClassificacao">
                                {{tipoClassificacao.descricao}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="50">
                        <label>Classificação</label>
                        <input rows="5"
                                  ng-model="cadastrarClassificacaoRespostaCtrl.classificacao.descricao" required>
                                    </input>

                    </md-input-container>
                    <div layout="column">
                        <md-button class="md-raised md-primary" ng-show="cadastrarClassificacaoRespostaCtrl.id == null" ng-click="cadastrarClassificacaoRespostaCtrl.incluir()">
                            Incluir
                        </md-button>
                    </div>
                </div>
                <md-card md-theme-watch ng-show="cadastrarClassificacaoRespostaCtrl.id == null" >
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Resultado</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-table-container>
                            <table md-table>
                                <thead md-head>
                                <tr md-row exibir-cor-elemento-consulta>
                                    <th md-column>Tipo de classificação</th>
                                    <th md-column>Classificação</th>
                                    <th md-column>Ações</th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row
                                    ng-repeat="classificacao in cadastrarClassificacaoRespostaCtrl.classificacoes">
                                    <td md-cell >
                                        {{classificacao.tipoClassificacaoResposta.descricao}}
                                    </td>
                                    <td md-cell>
                                        {{classificacao.descricao}}
                                    </td>
                                    <td md-cell>
                                        <ng-md-icon icon="delete" ng-click="cadastrarClassificacaoRespostaCtrl.excluir()">
                                            <md-tooltip>Excluir</md-tooltip>
                                        </ng-md-icon>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination style="margin: auto; background-color: #D8F8E1;"
                                             md-on-paginate="scope.consultar"
                                             md-limit="scope.tabelaConsulta.limit"
                                             md-limit-options="scope.tabelaConsulta.limitsPage"
                                             md-page="scope.tabelaConsulta.page"
                                             md-total="{{scope.totalElementosConsulta}}"
                                             md-page-select>
                        </md-table-pagination>
                    </md-card-content>
                </md-card>

                <div layout="row" layout-align="end right">
                    <md-button class="md-raised md-primary"
                               ng-click="cadastrarClassificacaoRespostaCtrl.salvar()">
                        Salvar
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="cadastrarClassificacaoRespostaCtrl.voltarConsultarClassificacao()">
                        Voltar
                    </md-button>
                </div>
            </md-card-content>
        </md-card>
    </ng-form>
</md-content>
